<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add  key="administerConn"  value="Server=(local); database=dbProcess; uid=sa; pwd=123456"/>
    <add  key="userConn"  value="Server=172.22.105.88; database=dbProcess; uid=sa; pwd=123456"/>
    <add  key="expertConn"  value="Server=172.22.105.88; database=dbProcess; uid=sa; pwd=123456"/>
    <add  key="other"  value="Server=127.0.0.1; database=dbProcess; uid=sa; pwd=LY19971025"/>
  </appSettings>
</configuration>